@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&display=swap');




body{
    display: grid;
    place-items: center;
    height: 100vh;
}
#main:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}
#main{
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    width: 50vw;
    height: 65vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    align-items: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .3);
    transition: box-shadow .5s
}
#main>:not(#Result){
    margin-top: 2em; margin-left: 50%; margin-right: 2em; justify-content: start;  justify-items: stretch;
}
#Result{
    padding: 2.5em;
    position: absolute;
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
}
#Result>.header{
    font-family: 'Hanken Grotesk';
    font-weight: 700;
    font-size: x-large;
    color: hsl(241, 100%, 89%);
}

/*Result side * Score*/
#Result>.score>span{
    font-family: 'Hanken Grotesk';
    font-weight: 750;
    font-size: 75px;
    color: hsl(221, 100%, 96%);
}
#Result>.score{
    display: grid;
    margin: 2em auto 1em auto;
    font-family: 'Hanken Grotesk';
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);
    border-radius: 50%;
    width: 230px;
    height: 230px;
    place-content: center;
}
#Result>.description::first-line{
    font-family: 'Hanken Grotesk';
    font-weight: 750;
    font-size: xx-large;
    color: hsl(221, 100%, 96%);
}
#Result>.description{
    font-family: 'Hanken Grotesk';
    font-weight: 500;
    font-size: large;
    color: hsl(241, 100%, 89%);
}
#main>.header{
    font-family: 'Hanken Grotesk';
    font-weight: 700;
    font-size: x-large;
}
#main>.content>.attribute{
    font-family: 'Hanken Grotesk';
    font-weight: 700;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: .2em;
    padding: .5em;
    border-radius: 10px;
}
#main>.content>.attribute>span:nth-child(3){
    color: hsla(0, 0%, 0%, .3);
}
#main>.content>#Reaction>img{
    margin-right: .7em;
}
#main>.content>#Reaction>span:nth-child(2){
    color: hsl(0, 100%, 67%);
    flex-grow: 2;
}
#main>.content>#Reaction{
    background: hsla(0, 100%, 67%, .09);
    width: 100%;
}
#main>.content>#Memory>img{
    margin-right: .7em;
}
#main>.content>#Memory>span:nth-child(2){
    color: hsl(39, 100%, 56%);
    flex-grow: 2;
}
#main>.content>#Memory{
    background: hsla(39, 100%, 56%, .09);
    width: 100%;
}
#main>.content>#Verbal>img{
    margin-right: .7em;
}
#main>.content>#Verbal>span:nth-child(2){
    color: hsl(166, 100%, 37%);
    flex-grow: 2;
}
#main>.content>#Verbal{
    background: hsla(166, 100%, 37%, .09);
    width: 100%;
}
#main>.content>#Visual>img{
    margin-right: .7em;
}
#main>.content>#Visual>span:nth-child(2){
    color: hsl(234, 85%, 45%);
    flex-grow: 2;
}
#main>.content>#Visual{
    background: hsla(234, 85%, 45%, .09);
    width: 100%;
}
#main>.footer{
    height: 10%;
}
#main>.footer>#continue{
    background: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    transition: background 2s;
}
#main>.footer>#continue:hover{
    cursor: pointer;
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);
}
.attribution{
    display: block;
    position: fixed;
    bottom: 5px;
}

@media only screen and (orientation:portrait) {
    body{
        margin: 0;
        padding: 0;
    }
    #main{
        width: 100%;
        height: 100%;
    }    
    #Result{
        width: 100%;
        height: 40%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: .9em;
    }
    #Result>.header{
        font-size: 18px;
    }
    #Result>.score{
        width: 110px;
        height: 110px;
        font-size: 15px;
        margin: 1.0em 1.0em 1.5em 5em;
    }
    #Result>.score>span{
        font-size: 3cm;
    }
    #Result>.description::first-line{
        font-size: large;
    }
    #Result>.description{
        font-size: medium;
    }
    #main>:not(#Result){
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #main>.header{
        margin-top: 55%!important;
        padding-top: 35%;
        font-size: larger;
    }
    #main>.content>.attribute{
        font-size: larger;
    }
    #main>.footer{
        height: 8%;
    }
    #main>.footer>#continue{
        border-radius: 30px;
    }
}

@media only screen and (max-height:820px){
    #Result>.header{
        font-size: medium;
    }
    #Result>.score{
    width: 160px;
    height: 160px;
    }
    #Result>.score>span{
        font-size: 65px;
    }
    #Result>.description::first-line{
        font-size: large;
    }
    #Result>.description{
        font-size: medium;
    }
    #main>.header{
        font-size: large;
    }
    #main>.content>.attribute{
        font-size: large;
    }
}
